<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>Emulator</title>
    <script src="/static/wasm.js" type="module"></script>
</head>

<body>
    <h1>{{.}}</h1>
    <canvas id="emulator-screen"></canvas>
</body>

</html>
